pip install numpy
pip install pandas
pip install matplotlib
pip install seaborn
pip install opencv-python //img - mtrx - tnsr
pip install pillow
pip install pytesseract
pip install scikit-learn
pip install torch torchvision
pip install tqdm
pip install streamlit